section{
    width: 100%;
    height: 500px;
}
.head{
	width: 1017px;
	height: 100px;
    margin: 0 auto;
    border-bottom: 1px solid #dfdfdf;
}
.hd-head{
    width: 1017px;
    height: 53px;
    background: #83c327 url(../img/666_01.png) no-repeat;
    margin: 0 auto;
}
.hd-head ul{
	width: 416px;
    float: left;
    margin-left:240px; 
    margin-right: 48px;
    background: url(../yy/666_04.png) no-repeat 374px 12px;
}
.oli{
    float: left;
    width: 52px;
    height: 53px;
    line-height: 53px;
    font:14px/53px "宋体";
    font-weight: bold;
    text-align: center;
}
.oli a{
    color: #fff;
}
.check{
    background: #60ac01;
}
.btns{
	width: 76px;
	height: 53px;
	float: left;
	margin-right: 13px;
}
.btns .btn{
	width: 38px;
	height: 53px;
	color: #fff;
	float: left;
	font:14px "微软雅黑";
	display: block;
	line-height: 53px;
}
.text{
	width: 187px;
	height: 30px;
	margin-top: 10px;
	border-radius: 5px;
	border: 1px solid #f6f6f6;
	background: #fff url(../yy/666_07.png) no-repeat 162px center;
}
.head .nav{
	width: 937px;
	height: 41px;
	float: left;
	/*同级浮动,每个元素都要浮动,否则会发生不可描述的灵异事件*/
	padding: 0 40px 0 40px;
}
.head .nav a{
	display: block;
	padding: 0 8px;
	float: left;
	font: 14px/41px "微软雅黑";
	color: #000;

}
