.content{
	width: 961px;
	height: 1000px;
	background: #f1f1f1;
	margin: 0 auto;
	padding: 0 28px;
}
/*左右结构*/
.content .left{
	width: 650px;
	height: 1000px;
	float: left;
	padding-top: 10px;
	margin-right: 8px;
}
/*左边的第一个模块*/
.left .one{
	height: 240px;
	width: 100%;
	background: #fff;
	margin-bottom: 8px;
	padding: 5px 0px 10px 0px;
	border-right: 1px solid #dededf;
}
.left .one img{
	display: block;
	float: left;
	margin-left: 5px;
}
.one .one-ul{
	height: 225px;
	width: 345px;
	float: right;
	padding: 10px 0 5px 10px;

}
.one .one-li{
	height: 25px;
	font: 15px/25px "微软雅黑";
}
/*第二部分*/
.content .story{
	width: 100%;
	height: 360px;
	background: #fff;
	border-right: 1px solid #dededf;
}
.story .story-hd{
	height: 35px;
	background: yellow;
}
.story .story-con{
	height: 325px;
	background: greenyellow;
}
.story .hd-title{
	color: green;
}
/*左右结构右部分*/
.content .right{
	width: 300px;
	height: 1000px;
	background: red;
	float: right;
}
